.bubbles span {
    height: 10px;
    padding: 2px;

    text-align: center;

    font: 10px Arial, sans-serif;
}

.bubble-selected {
    border: 2px solid red;
    background: white;
    color: red;
}

.bubble {
    border: 1px solid black;
    background: white;
    color: black;
}

.bubble-used {
    border: 1px solid black;
    background: silver;
    color: black;
}

.hp-column-headers {
    background: darkgreen;
    color: white;
}
.wp-column-headers {
    background: darkblue;
    color: white;
}
.fp-column-headers {
    background: indigo;
    color: white;
}
.hp-0 {
    background: PaleGreen;
}

.hp-1 {
    background: MediumAquamarine;
}

.hp-2 {
    background: MediumSeaGreen;
}

.hp-3 {
    background: SeaGreen;
}

.hp-4 {
    background: ForestGreen;
}

.hp-5 {
    background: green;
}

.hp-6 {
    background: DarkGreen;
    color: white;
}

.hp-7 {
    background: black;
    color: white;
}

.hp-8 {
    background: black;
    color: white;
}


.fp-0 {
    background: MediumPurple;
    color: white;
}

.fp-1 {
    background: BlueViolet;
    color: white;
}

.fp-2 {
    background: DarkViolet;
    color: white;
}
.fp-3 {
    background: Indigo;
    color: white;
}

.wp-0 {
    background: LightSkyBlue;
}

.wp-1 {
    background: DeepSkyBlue;
}

.wp-2 {
    background: DodgerBlue;
}

.wp-3 {
    background: RoyalBlue;
    color: white;
}

.wp-4 {
    background: Blue;
    color: white;
}