<html xmlns:th="http://www.thymeleaf.org">
<link>
<title th:text="|Status Tracker for ${character.characterName}|">Status Tracker for Character</title>
<link rel="stylesheet" type="text/css" href="/css/status.css"></link>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/js/tracked-stat.js"></script>
</head>
<body>


<h1 th:text="|Status Tracker: ${character.characterName}|">Status Tracker: Character's Name</h1>
<h2 th:text="|Played By: ${playerName}|">Played By: Player's Name</h2>
<table cellspacing="0" cellpadding="5">
     <tbody th:each="trackedValueEntry : ${character.trackedValues}" th:with="statName=${trackedValueEntry.key},trackedValue=${trackedValueEntry.value}" th:class="|${statName}-section|">
        <tr th:class="|${trackedValueEntry.key}-header|">
            <th colspan="4">
                 <span th:text="${#strings.toUpperCase(statName)}">STAT</span> (Current / Max):
                 <span th:id="|${statName}-current|" th:text="${trackedValue.currentValue}">10</span>
                 /
                 <span th:id="|${statName}-max|" th:text="${trackedValue.maxValue}">10</span>
            </th>
        </tr>
        <tr th:class="|${statName}-column-headers|">
            <th>Tracking</th>
            <th>Range</th>
            <th>Status</th>
            <th>Effects</th>
        </tr>
        <tr th:each="effect, iStat: ${trackedValue.effects}" th:class="|${statName}-${iStat.index}|">
            <td class="bubbles" th:with="range=(${effect.tracked}) ? ${effect.range} : ${effect.range.first}">

                <button
                    th:each="i : ${range}"
                    th:class="(${i} == ${trackedValue.currentValue}) ? 'bubble-selected' :
                    ((${i} &gt; ${trackedValue.currentValue}) ? 'bubble-used' : 'bubble')"
                    th:attr="characterKey=${characterKey}, statName=${statName}, statValue=${i}"
                    th:text="${i}" >10
                    </button>

            </td>
            <td th:text="(${effect.range.first} == ${effect.range.last}) ? ${effect.range.first} : |${effect.range.first} to ${effect.range.last}|">Max to Min</td>
            <td th:text="${effect.status}">Status</td>
            <td th:text="${effect.details}">Details</td>
        </tr>
        <tr class="adjust-button-row" th:id="|${statName}-adjust-button-row|">
            <td class="adjust-button-cell" colspan="4">
                <div class="row">

                    <span class="dec-buttons column">
                        <button th:each="v : ${#numbers.sequence(-5, -1)}" class="dec-button" th:text="${v}" th:id="|${statName}-dec-${v}|" th:onclick="|adjust('${characterKey}', '${statName}', ${v})|">-1</button>
                    </span>

                    <span class="amt-buttons column">
                        <button class="sub-button" th:id="|${statName}-sub|" th:onclick="|decByAmount('${characterKey}', '${statName}')|">-</button>
                        <select class="amt-input" th:id="|${statName}-amt|" >
                            <option th:each="v : ${#numbers.sequence(0, 20)}" th:text="${v}"></option>
                        </select>
                        <button class="add-button" th:id="|${statName}-add|" th:onclick="|incByAmount('${characterKey}', '${statName}')|">+</button>
                    </span>

                    <span class="inc-buttons column">
                        <button th:each="v : ${#numbers.sequence(1, 5)}" class="inc-button" th:text="'+'+${v}" th:id="|${statName}-inc-${v}|" th:onclick="|adjust('${characterKey}', '${statName}', ${v})|">+1</button>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<div id="timestamp-div">
    <span>Last Updated:</span>
    <span id="timestamp" th:text="${lastUpdated}">Last Updated Date</td>
</div>
</body>
</html>