.bubbles button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 8px;
    padding: 2px;
    font-weight: bold;
    margin-right: 2px;
}

.bubble-selected {
    border: 2px solid red;
    background: pink;
    color: black;
}

.bubble {
    border: 1px solid black;
    background: white;
    color: black;
}

.bubble-used {
    border: 1px solid black;
    background: #777777;
    color: black;
}

.title-row {
    background: white;
    color: black;
    outline: thin solid black;
}


.selected-row {
    outline: thin solid black;
    font-weight: bold;
    font-style: italic;
}

.adjust-button-row {
    background: black;
    outline: thin solid Black;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.dec-buttons {
    text-align: left;
}

.amt-buttons {
    text-align: center;
}

.inc-buttons {
    text-align: right;
}

/* Hit Points */
#hp-amt {
    background: PaleGreen;
}

#hp-adjust-button-row button {
    background: PaleGreen;
}

.hp-column-headers {
    background: DarkGreen;
    outline: thin solid DarkGreen;
    color: white;
}

.hp-0 {
    background: PaleGreen;
    outline: thin solid PaleGreen;
}

.hp-1 {
    background: MediumAquamarine;
    outline: thin solid MediumAquamarine;
}

.hp-2 {
    background: MediumSeaGreen;
    outline: thin solid MediumSeaGreen;
}

.hp-3 {
    background: SeaGreen;
    outline: thin solid SeaGreen;
}

.hp-4 {
    background: ForestGreen;
    outline: thin solid ForestGreen;
}

.hp-5 {
    background: Green;
    outline: thin solid Green;
}

.hp-6 {
    background: DarkGreen;
    outline: thin solid DarkGreen;
    color: white;
}

.hp-7 {
    background: Black;
    outline: thin solid Black;
    color: white;
}

.hp-8 {
    background: Black;
    outline: thin solid Black;
    color: white;
}


/* FATIGUE */
#fp-adjust-button-row button {
    background: MediumPurple;
}

.fp-column-headers {
    background: Indigo;
    outline: thin solid Indigo;
    color: white;
}

.fp-0 {
    background: MediumPurple;
    outline: thin solid MediumPurple;
    color: white;
}

.fp-1 {
    background: BlueViolet;
    outline: thin solid BlueViolet;
    color: white;
}

.fp-2 {
    background: DarkViolet;
    outline: thin solid DarkViolet;
    color: white;
}

.fp-3 {
    background: Indigo;
    outline: thin solid Indigo;
    color: white;
}



/* Will Power */
.wp-column-headers {
    background: darkblue;
    outline: thin solid DarkBlue;
    color: white;
}

.wp-0 {
    background: LightSkyBlue;
    outline: thin solid LightSkyBlue;
}

.wp-1 {
    background: DeepSkyBlue;
    outline: thin solid DeepSkyBlue;
}

.wp-2 {
    background: DodgerBlue;
    outline: thin solid DodgerBlue;
}

.wp-3 {
    background: RoyalBlue;
    outline: thin solid RoyalBlue;
    color: white;
}

.wp-4 {
    background: Blue;
    outline: thin solid Blue;
    color: white;
}

.adjust-button-row button {
    border-radius: 20%;
    border: thin solid black;
    margin: 1px;
}



#wp-adjust-button-row button {
    background: LightSkyBlue;
}
#fp-amt {
    background: MediumPurple;
}

#wp-amt {
    background: LightSkyBlue;
}

/* Energy Reserve*/
#er-amt {
    background: gold;
}


.amt-column-headers {
    background: DarkGoldenrod;
    outline: thin solid DarkGoldenrod;
    color: black;
}

.amt-row-odd {
    background: gold;
    outline: thin solid gold;
}

.amt-row-even {
    background: GoldenRod;
    outline: thin solid GoldenRod;
}

#amt-0-adjust-button-row button {
    background: gold;
}